
#builds-table {
    font-weight: 100;
}

#builds-table > thead > tr > td {
    font-weight: 100;
    font-size: 18px;
    opacity: 0.7;
}

#builds-table > thead > tr:first-child > td {
    padding: 20px 0;
}

#builds-table > thead > tr:last-child > td > div {
    display: inline-block;
    padding: 10px 5px;
    border-bottom: 1px solid #4b5f6d;
    margin-bottom: 10px;
}

.build-status {
    text-align: center;
}

.build-status-failed {
    color: #cd0000
}

.build-id {
    padding: 10px;
    text-align: center;
}

.build-artifacts {
    text-align: left;
    padding: 10px 20px;
    font-size: 13px;
}

.build-artifacts > div {
    padding: 2px 0;
}

.build-commit {
    padding: 10px 20px;
}

#builds-table > tbody > tr:hover > td {
    background: #465966;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
#builds-table > tbody > tr:hover > td:last-child {
    background: none;
    box-shadow: none;
}

.btn-hide {
    opacity: 0;
    pointer-events: none;
}