
#create-proj-datastore-header {
    width: 100%;
    margin-bottom: 5px;
}

#create-proj-result {
    padding: 10px 0;
}

.header-label {
    text-align: left;
    padding: 10px 0;
}
.header-body {
    text-align: right;
}

.create-proj-input {
    margin-bottom: 5px;
}
