#sidebar {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2c3840;
    border-right: 1px solid #222;
}

.sidebar-item {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}

.sidebar-item:hover > a, 
.sidebar-item:hover {
    color: #f1f4f6;
}

.sidebar-item-label {
    padding-left: 40px;
    vertical-align: top;
    font-weight: 100;
}